@import url('https://fonts.googleapis.com/css2?family=Fjalla One&family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 5%;
    margin: 0px;
    font-family: 'Open Sans',sans-serif;
}

.textContainer h2{
    margin-bottom: 30px;
    font-size:40px;
    color: #2e2f33;
}

.textContainer p{
    color:#808080;
    text-align: center;
    width: 900px;
}
.Card{
    padding: 5%;
    margin: 2%;
    box-shadow: 20px solid black!important;
}
.cardsContainer{
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardAreHere{
    display: flex;
    flex-direction: row;
}

.globalContainer{
    padding: 100px;
}

@media screen and (max-width:850px) {
    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .card p{
        font-size: 20px;
        width: 300px;
        margin: 10px 0px;
        color:#808080;
        font-style: italic;
        line-height: 25px;
    }
    
    .card h5{
        font-size: 40px;
    }
    
    .card img{
        width: 200px;
    }
    
    
}